.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #f3ecec;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  input {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
  }
  input:focus {
    border-color: #28a745;
    outline: none;
  }
  
  button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  button {
    padding: 12px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    width: 100px
  }
  
  button.edit {
    background-color: orange;
  }
  
  button.delete {
    background-color: red;
  }
  
  button:hover.edit {
    background-color: darkorange;
  }
  
  button:hover.delete {
    background-color: darkred;
  }
  
  button i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
  }